{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<section>
    {{#foreach posts}}
    {{> "post-list-item"}}
    {{/foreach}}
</section>
{{pagination}}