{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header>
    <h1>{{name}}</h1>
    <p>
        {{#if description}}
        {{description}}
        {{else}}
        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </p>
</header>
{{/tag}}

<div>
    {{#foreach posts}}
    {{> "post-list-item"}}
    {{/foreach}}
</div>